*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F1F5F8;
  min-height: 100vh;
}

/* Navbar - START */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: white;
  padding: 12px 36px;
  border-bottom: 1px solid gray;
  box-shadow: 2px 3px 8px gray, -2px 3px 8px gray;
}

.navbar--image {
  height: 2rem;
}

.navbar--links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar--links li {
  margin-right: 14px;
}

.link {
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, .7);
  font-family: Arial, Helvetica, sans-serif;
}
/* Navbar - END */

/* About - START */
.about--container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 60%;
  min-width: 50%;
  margin: 26px auto;
  padding: 8px 16px;
}

.about--title {
  text-align: center;
  font-size: 2rem;
  color: black;
}

.about--container p {
  padding: 6px 12px;
  line-height: 1.5rem;
  text-align: justify;
  margin-bottom: 1.4rem;
}

.about--container p strong {
  color: #F86427;
  font-size: 1.3rem;
}
/* About -END */

/* Loading Component CSS - start */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #F86427;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

.loading--container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.loading--title {
  color: #F86427;
  margin-right: 8px;
  font-size: 1.5rem;
} 
/* Loading Component CSS - end */

/* Cocktails component - start */
.cocktails--section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  margin: 5px auto;
  justify-items: center;
  align-items: center;
  justify-self: center;
  border-radius: 7px;
}

.cocktail--image {
  height: 350px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
  object-position: center;
}

.cocktails--title {
  text-align: center;
  color: black;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.cocktail {
  border-radius: 5px;
  width: 350px;
  margin: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all .7s;
}

.cocktail:hover {
  transform: scale(1.05);
}

.cocktail--info {
  background-color: white;
  padding: 8px 12px;
  border-radius: 0 0 5px 5px;
}

.cocktail--info h3 {
  margin: 8px 0;
}

.cocktail--info h4 {
  margin: 6px 0;
}

.cocktail--info p {
  opacity: .7;
  margin: 5px 0;
}

.cocktail--buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.btn {
  padding: 5px 8px;
  cursor: pointer;
  transition: all .7s;
  border-radius: 5px;
  outline: none;
}

.btn-details {
  background-color: #42855B;
  color: white;
  border: 1px solid #42855B;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.btn-details:hover {
  background-color: #90B77D;
  border: 1px solid #90B77D;
}

.cocktail--link {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.btn-add {
  transition: all .7;
  border: none;
  outline: none;
  background-color: white;
}

.btn-add:hover {
  transform: scale(1.2);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  color: red;
  background-color: white;
  font-size: 1.3rem;
}

.cocktail--error {
  text-align: center;
  margin-top: 5rem;
  color: red;
  text-transform: capitalize;
  font-size: 1.5rem;
}
/* Cocktails component - end */

/* SearchForm component -start */
.form {
  width: 33%;
  background-color: #FFFFFF;
  height: auto;
  border-radius: 3px;
  margin: 6rem auto;
  padding: 12px 24px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  background-color: #F1F5F8;
}

.form-label {
  color: #476A2E;
  letter-spacing: 1.5px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 15px 12px;
}

.form-control {
  padding: 10px 16px;
  margin: 4px 12px 15px 12px;
  border: none;
}
/* SearchForm component -end */


/* SingleCocktail component - start*/
.single-cocktail-container {
  width: 60%;
  margin: 10rem auto;
  display: flex;
  align-items: center;
}

.single-cocktail-image img {
  width: 450px;
  border-radius: 5px;
  margin-right: 3rem;
}

.single-cocktail-info h4 {
  margin: 30px 0;
  line-height: 1.9rem;
}

.single-cocktail-info h4 span:first-child {
  background-color: #D4E6A5;
  padding: 5px 8px;
  border-radius: 4px;
  color: #476A2E;
  margin-right: 8px;
}

.single-cocktail-info h4 span:last-child {
  font-weight: normal;
}
/* SingelCocktail component - end*/